<div class="pageContent">
    <form method="post" action="{:url($Request.controller . '/add', 'navTabId=users&callbackType=closeCurrent')}"
        class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">

        <div class="pageFormContent nowrap" layoutH="55">
            
            <dl>
                <dt>用户名</dt>
                <dd><input name="username" type=" text" /></dd>
            </dl>
            <label>性别</label>
            <label><input type="radio" name="sex" value="0"/>女</label>
            <label><input type="radio" name="sex" value="1"/>男</label>
            <label><input type="radio" name="sex" value="2"/>保密</label>
            <dl>
                <dt>身份证</dt>
                <dd><input name="IDcard" type=" text" /></dd>
            </dl>
            <dl>
                <dt>户籍</dt>
                <dd><input name="addr" type=" text" /></dd>
            </dl>
            <dl>
                <dt>现住址</dt>
                <dd><input name="nowAddr" type=" text" /></dd>
            </dl>
            <dl>
                <dt>联系方式</dt>
                <dd><input name="phone" type=" text" /></dd>
            </dl>
            <label>户籍类型</label>
            <label><input type="radio" name="housetype" value="0"/>城镇</label>
            <label><input type="radio" name="housetype" value="1"/>农村</label>
            <dl>
                <dt>照片<br>
                    <span>{:config('setImage.userPhoto')['width']}*{:config('setImage.userPhoto')['height']}</span>
                </dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=userphotoAdd&width=' . config('setImage.userPhoto')['width'].'&height=' . config('setImage.userPhoto')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br><br>
                    <img src="__STATIC__/image/pic_error.png" class="userphotoAdd" alt="照片" title="请上传个人照片" width="200" height="200"> 
                    <input type="hidden" class="userphotoAdd" name="photo" value="">
                </dd>
            </dl>
            <label>就业状态</label>
            <label><input type="radio" name="employstatus" value="0"/>待业</label>
            <label><input type="radio" name="employstatus" value="1"/>在职</label>
            <dl>
                <dt>身份证正面照</dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=idCardbefore&width=' . config('setImage.idCardbefore')['width'].'&height=' . config('setImage.idCardbefore')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br><br>
                    <img src="__STATIC__/image/pic_error.png" class="idCardbefore" alt="照片" title="请上传身份证正面照" width="200" height="200"> 
                    <input type="hidden" class="idCardbefore" name="idCardbefore"/>
                </dd>
            </dl>
            <dl>
                <dt>身份证背面照</dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=idCardback&width=' . config('setImage.idCardback')['width'].'&height=' . config('setImage.idCardback')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br><br>
                    <img src="__STATIC__/image/pic_error.png" class="idCardback" alt="照片" title="请上传身份证背面照" width="200" height="200"> 
                    <input type="hidden" class="idCardback" name="idCardback" value=""/>
                </dd>
            </dl>
            <dl>
                <dt>学习课程</dt>
                <dd>
                    <select name="lesson" id="major">
                        {volist name="majors" id="major"}
                        <option value="{$major.id}">{$major.majorname}--{$major.studytime}</option>
                        {/volist}
                    </select>
                </dd>
            </dl>
            <label>学习状态</label>
            <label><input type="radio" name="studystatus" value="0"/>已报名</label>
            <label><input type="radio" name="studystatus" value="1"/>学习中</label>
            <label><input type="radio" name="studystatus" value="2"/>学习结束</label>
            <label><input type="radio" name="studystatus" value="3"/>试课</label>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent"><button type="submit">提交</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent"><button type="button" class="close">取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
            $('#major').select2();
      });
</script>