<div class="pageContent">
    <form method="post" action="{:url($Request.controller . '/edit', 'navTabId=authgroup&callbackType=closeCurrent')}"
        class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">

        <div class="pageFormContent nowrap" layoutH="55">
            <input type="hidden" name="id" value="{$data.id}">
            <dl><h3>用户组信息</h3></dl>
            <dl>
                <dt>用户组名</dt>
                <dd><input name="title" type="text"  class="required" value="{$data.title}"/></dd>
            </dl>
            <dl>
                <dt>描述</dt>
                <dd><textarea id="adminadd" name="description" cols="30" rows="10" style="resize:none;"
                        onkeyup="wordsNumber('adminadd', 'adminaddinfo', 80)" onblur="wordsNumber('adminadd', 'adminaddinfo', 80)"
                        class="textInput">{$data.description}</textarea>
                    <span id="adminaddinfo" class="info">您还可以输入80个字</span>
                </dd>
            </dl>
            <dl>
                <label>状态</label>
                <label><input type="radio" name="status" value="0" {eq name="data.status" value="0"}checked{/eq}/>禁用</label>
                <label><input type="radio" name="status" value="1" {eq name="data.status" value="1"}checked{/eq}/>正常</label>
            </dl>
            <dl><h3>组权限</h3></dl>
            <dl>
                <dt>规则：</dt>
                <dd>
                    {volist name="rules" id="vo"}
                    <label><input type="checkbox" name="rules[]" value="{$vo.id}" {in name="vo.id" value="$data.rules"}checked{/in}>{$vo.title}</label>
                    {/volist}
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent"><button type="submit">保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent"><button type="button" class="close">取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    </form>
</div>