<div class="pageContent">
    <form method="post" action="{:url($Request.controller . '/add', 'navTabId=studylesson&callbackType=closeCurrent')}"
        class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">

        <div class="pageFormContent nowrap" layoutH="55">
            <dl>
                <dt>学习课程</dt>
                <dd>
                    <select name="lesson">
                        {volist name="majors" id="major"}
                            <option value="{$major.id}">{$major.majorname}-{$major.studytime}</option>
                        {/volist}
                    </select>
                </dd>
            </dl>
            <label>学习状态</label>
            <label><input type="radio" name="studystatus" value="0"/>已报名</label>
            <label><input type="radio" name="studystatus" value="1"/>学习中</label>
            <label><input type="radio" name="studystatus" value="2"/>学习结束</label>
            <label><input type="radio" name="studystatus" value="3"/>试课</label>
            <dl>
                <dt>用户</dt>
                <dd>
                    <select name="userID">
                        {volist name="usersInfo" id="vo"}
                        <option value="{$vo.id}">{$vo.username}--{$vo.phone}</option>
                        {/volist}
                    </select>
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent"><button type="submit">保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent"><button type="button" class="close">取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
            $('select').select2();
      });
</script>