<div class="pageContent">
    <form method="post" action="{:url($Request.controller . '/edit', 'navTabId=users&callbackType=closeCurrent')}"
        class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">

        <div class="pageFormContent nowrap" layoutH="55">
			<input name="id" type="hidden" size="30" value="{$data['id']}"/>
            <dl>
                <dt>用户名</dt>
                <dd><input name="username" type=" text" value="{$data['username']}"/></dd>
            </dl>
            <label>性别</label>
            <label><input type="radio" name="sex" value="0" {eq name="data['sex']" value="0"}checked{/eq}/>女</label>
            <label><input type="radio" name="sex" value="1" {eq name="data['sex']" value="1"}checked{/eq}/>男</label>
            <label><input type="radio" name="sex" value="2" {eq name="data['sex']" value="2"}checked{/eq}/>保密</label>
            <dl>
                <dt>身份证</dt>
                <dd><input name="IDcard" type=" text" value="{$data['IDcard']}"/></dd>
            </dl>
            <dl>
                <dt>户籍</dt>
                <dd><input name="addr" type=" text" value="{$data['addr']}"/></dd>
            </dl>
            <dl>
                <dt>现住址</dt>
                <dd><input name="nowAddr" type=" text" value="{$data['nowAddr']}"/></dd>
            </dl>
            <dl>
                <dt>联系方式</dt>
                <dd><input name="phone" type=" text" value="{$data['phone']}"/></dd>
            </dl>
            <label>户籍类型</label>
            <label><input type="radio" name="housetype" value="0" {eq name="data['housetype']" value="0"}checked{/eq}/>城镇</label>
            <label><input type="radio" name="housetype" value="1" {eq name="data['housetype']" value="1"}checked{/eq}/>农村</label>
            <label>就业状态</label>
            <label><input type="radio" name="employstatus" value="0" {eq name="data['employstatus']" value="0"}checked{/eq}/>待业</label>
            <label><input type="radio" name="employstatus" value="1" {eq name="data['employstatus']" value="1"}checked{/eq}/>在职</label>
            <dl>
                <dt>照片<br>
                    <span>{:config('setImage.userPhoto')['width']}*{:config('setImage.userPhoto')['height']}</span>
                </dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=userphotoAdd&width=' . config('setImage.userPhoto')['width'].'&height=' . config('setImage.userPhoto')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br>
                    <img src="{:config('qiniu.qn_domain') . $data['photo']}" class="userphotoAdd" alt="照片" title="请上传个人照片" onerror="this.src='__STATIC__/image/pic_error.png'" width="200" height="200"> 
                    <input type="hidden" class="userphotoAdd" name="photo" value="{$data['photo']}">
                </dd>
            </dl>
            <dl>
                <dt>身份证正面照</dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=idCardbefore&width=' . config('setImage.idCardbefore')['width'].'&height=' . config('setImage.idCardbefore')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br>
                    <img src="{:config('qiniu.qn_domain') . $data['idCardbefore']}" class="idCardbefore" alt="照片" title="请上传身份证正面照" onerror="this.src='__STATIC__/image/pic_error.png'" width="200" height="200"> 
                    <input type="hidden" class="idCardbefore" name="idCardbefore" value="{$data['idCardbefore']}"/>
                </dd>
            </dl>
            <dl>
                <dt>身份证背面照</dt>
                <dd>
                    <a href="{:url($Request.controller . '/upload', 'types=idCardback&width=' . config('setImage.idCardback')['width'].'&height=' . config('setImage.idCardback')['height'])}" class="button" target="dialog">
                        <span>上传图片</span>
                    </a><br>
                    <img src="{:config('qiniu.qn_domain') . $data['idCardback']}" class="idCardback" alt="照片" title="请上传身份证背面照" onerror="this.src='__STATIC__/image/pic_error.png'" width="200" height="200"> 
                    <input type="hidden" class="idCardback" name="idCardback" value="{$data['idCardback']}"/>
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent"><button type="submit">保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent"><button type="button" class="close">取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    </form>
</div>